<button class="btn btn-dark">
    <a asp-controller="User" asp-action="Login">Login</a>
</button>


<div class="text-center">
    <h1 class="display-4">Scheduling Simulator</h1>
    <button class="btn btn-outline-danger"><a class="text-decoration-none" asp-controller="Simulation" asp-action="Index">Simulate</a></button>
</div>