@{
    Layout = null;
}

<h1>Enter Process Details</h1>
<form asp-controller="Simulation" asp-action="Calculate" method="post">
    <input type="hidden" name="algorithm" value="@ViewBag.Algorithm" />

    <table>
        <tr>
            <th>Process</th>
            <th>Arrival Time</th>
            <th>Burst Time</th>
        </tr>
        @for (int i = 0; i < ViewBag.NumProcesses; i++)
        {
            <tr>
                <td>@((char)('A' + i))</td>
                <input type="hidden" name="inputs[@i].PId" value="@i" />  
                <td><input type="text" name="inputs[@i].ArrivalTime" /></td>
                <td><input type="text" name="inputs[@i].BurstTime" /></td>
            </tr>
        }
        @if (ViewBag.Algorithm == "RR")
        {
            <tr>
                <td colspan="2">Quantum Time</td>
                <td><input type="number" name="quantumTime" /></td>
            </tr>
        }
    </table>

    <!--<button type="submit">Calculate</button>-->

    <input type="hidden" id="selectedOption" name="selectedOption" />
    <button  class="btn-option" value="calc">Calculate result</button>
    <button class="btn-option" value="userTry">Try Yourself</button>
        



</form>

<script>
    
    document.addEventListener("DOMContentLoaded", function () {
    
        var buttons = document.querySelectorAll(".btn-option");

        buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                document.getElementById("selectedOption").value = button.value;
                document.getElementById("myForm").submit();
            });
        });
    });

    

</script>