<h1>Enter Process Details for Round Robin</h1>
<form asp-controller="Simulation" asp-action="RRInput" method="post">
    <label for="quantumTime">Quantum Time:</label>
    <input type="text" name="quantumTime" /><br /><br />

    <table>
        <tr>
            <th>Process Id</th>
            <th>Arrival Time</th>
            <th>Burst Time</th>
        </tr>
        <tr>
            <td><input type="text" name="inputs[0].PId" /></td>
            <td><input type="text" name="inputs[0].ArrivalTime" /></td>
            <td><input type="text" name="inputs[0].BurstTime" /></td>
        </tr>
        <!-- Repeat the above row for each process -->
    </table>
    <button type="submit">Submit</button>
</form>
